.tabButton {
  width: 24.5vw;
}

.infoButton {
  width: 40vw;
}

p {
  text-align: justify;
}

.top-border-paragraph {
  border-top: solid 2px white;
  padding-top: 10px;
}

.event-title {
  font-size: 21px;
  height: 60px;
}

.more-info {
  width: 50%;
  margin: 10px auto;
  background-color: #239f95;
  border-color: #239f95;
}

.event-date {
  font-weight: 600;
  font-size: 19px;
  /* color: #6d4189; */
}

.event-time {
  font-weight: 800;
}

.gXhKtq {
  fill: white;
  stroke: white;
}

#map-holder > div {
  height: 100%;
  width: 100%
}

/* #map-holder > div > div {
  position: relative !important;
} */

.venue-title {
  font-size: 24px;
}
.gm-style {
  font-family: 'Raleway', 'Roboto', sans-serif;
}
.gm-style-iw-d {
  max-width: 250px !important;
}
.gm-style-iw {
  max-width: 250px !important;
}